<div class="acar_footer mt-5 row">
    <div class="mx-5 text-light col">
        <div class="col">
        <h4 class="foot_title">Contact Us</h4>
        <p>
            <b>Adhiyamaan College of Agriculture and Research</b><br>
            Affiliated to TamilNadu Agricultural University ( Affiliation No.E1/A.E.R.I/02711/2016 )<br>
            Shoolagiri to Berigai Road, Athimugam Village, Krishnagiri District 635105
        </p>
        <p> Phone Number: +91 – 6380277180, +91 – 9442006269, +91 – 9442219990<br>
            Email: deanacar&#64;tnau.ac.in, office&#64;acar.ac.in</p>
    </div>
    </div>
    <div  class="mx-5 col-6">
        <!-- <google-map height="300"
            [center]="center" 
            [zoom]="zoom" 
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
        </google-map> -->
    </div>
</div>