<div class="mx-5 my-3">
    <h1 class="aboutus_title text-center">Department of Crop Physiology </h1>
    <p>
        Crop Physiology plays an eminent role in agriculture as it focuses on the vital phenomena in crop plants. It is
        the science concerned with the processes and functions and their responses towards the changing environmental
        parameters. Hence the knowledge of crop physiology is essential to all agricultural disciplines which provide
        inputs to Plant Breeding, Plant Biotechnology, Agronomy, Soil Science and Crop protection studies. To impart
        basic knowledge on various functions and processes related to stress physiology, nutrio physiology, hormonal
        physiology, production physiology, post-harvest physiology etc., and their application in crop production.
    </p>
    <p>
        Students of Agricultural science have important position in the development of agriculture.To understand the
        agriculture, and to know about how the plants grow, adapt to the constantly changing environment, the student
        has to understand the basic plant physiology and biochemistry associated with the functions and processes of the
        plants.
    </p>
    <h1 class="aboutus_title">Courses Offered </h1>
    <table style="width:100%">
        <tr class="text-center">
            <th>Year</th>
            <th>Semester</th>
            <th>Course Code</th>
            <th>Course Tittle</th>
            <th>Credit Credit</th>
        </tr>
        <tr>
            <th class="text-center">I</th>
            <td class="text-center">II</td>
            <td class="text-center">
                CRP 101</td>
            <td>	Fundamentals of Crop Physiology</td>
            <td class="text-center">
                2+1</td>
        </tr>


        <tr>
            <th rowspan="2" class="text-center">IV</th>
            <td class="text-center">VII</td>
            <td class="text-center">		APW 401</td>
            <td> Project Work	</td>
            <td class="text-center">
                0+1</td>
        </tr>
        <tr>
            <!-- <th class="text-center">IV</th> -->
            <td class="text-center">VIII</td>
            <td class="text-center">		CRP 451</td>
            <td>Physiological Techniques in crop production

            </td>
            <td class="text-center">
               1+1</td>
        </tr>
    </table>

</div>