<div>
    <section class="full acar_news ">
        <div class="col-md-2 text-center mobleft acar_news_1">
            <b class="acar_news_1">ACAR News</b>
        </div>
        <div class="news-container">
            <ul class="news-scroller">
                <li class="news-item"><b class="text-success">Freshers Day'23 Celebration on 01.12.2023</b> at 2.00 PM
                    at the ACAR Auditorium with the presence of Chief Guest Dr. N. MARAGATHAM, Ph.D.,
                    DEAN, CENTRE FOR STUDENTS WELFARE, TNAU, COIMBATORE.</li>
                <li class="news-item"><b class="text-success">Dr. S. Sridharan Principal, ACAR feels proud in honoring
                        the Organic Farmer Padma shri Awardee (2021 - 2022) </b>
                    Mrs. Pappammal of Thekkampatti Village, Coimbatore District. She is centenarian and a leading
                    farmers discussion group convener , KVK, TNAU, Coimbatore.
                    Our Principal was associated with the madam for more than 10 years from 2002 onwards.
                    She has been well trained on organic pest management.</li>
            </ul>
        </div>
    </section>

</div>