<div class="row mx-5">
    <div class="col-md-6 mt-5 ">
        <h1 class="welcome_title_1 ">Welcome to ACAR</h1>
        <p>The Adhiyamaan College of Agriculture and Research, Athimugam, Shoolagiri,
            Krishnagiri, was established in 2016 by AERI Trust (Adhiyamaan Educational & Research Institutions),
            Chennai, to provide quality education to the young community. The campus spreading over 122.5 acres,
            about 22 km from Hosur,the institute has a very picturesque and serene atmosphere surrounded by green
            hillocks.</p>
        <P>“Learning by Doing” and “Seeing is Believing” are the basic mantra of learning in ACAR.
            Further, we infuse entrepreneurship attitude to the undergraduate students.
            A holistic development of student is the central core of learning programme in ACAR.
            Here in ACAR offers B.Sc (Hons.) Agriculture Course (Affiliated to TamilNadu Agricultural University –
            TNAU)</P>
    </div>

    <div class="col-md-6 mt-5">
        <!-- Replace 'VIDEO_ID' with the actual ID of your YouTube video -->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe height="315" class="embed-responsive-item w-100" src="https://www.youtube.com/embed/ZVAeonlvO2w"
                allowfullscreen></iframe>
        </div>
    </div>
</div>