::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #2a6634;
    width: 0.5rem;
    height: 0.5rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
}