<h1 class="aboutus_title text-center my-4">“எங்கள் வாழ்வும் எங்கள் வளமும்
    மங்காத தமிழென்று சங்கே முழங்கு” </h1>
<div class="mx-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <p-galleria [value]="tamilImages" [showItemNavigators]="true" [showThumbnails]="false"
                [showIndicators]="true" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions"
                [autoPlay]="true" [circular]="true" [numVisible]="1" class="  py-3">
                <ng-template pTemplate="item" let-item>
                    <div>
                        <p-image [src]="item.url" [preview]="true" width="500" height="300" class="img-fluid"></p-image>
                        <!-- <h6 class=" mb-0 py-2 text-center">{{item.name}}</h6> -->
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <div class="col-md-6">
            <p> நம் எண்ணங்களை பிறருக்கு தெரிவிக்கவும், பிறருடைய உணர்வுகளை நாம் புரிந்து கொள்ளவும் உதவுவது மொழியேயாகும்.
                நாகரிகம் வளர வளர பேச்சி வழக்கு மொழியெல்லாம் எழுத்து வடிவம் பெற்றன. காலத்தால் பழமையான, ஆதிகால மனிதனின்
                அற்புத
                மொழியாக தமிழ் மொழி திகழ்கிறது. காலம் பல மாறினாலும், கண்டம் பல அழிந்தாலும் அழியாத சிறப்புடைய மொழியாக
                தமிழ்
                மொழி திகழ்கிறது. இயல், இசை, நாடகம், எனும் முத்தமிழாய் வளர்ந்து, கன்னித்தமிழாய், செந்தமிழாய், வண்டமிழாய்,
                பைந்தமிழாய், வளம் வரும் ஒரே மொழி தமிழ் மொழியாகும். எண்ணற்ற புலவர்களாலும், அரசர்களாலும் சங்கம் வைத்து
                வளர்த்த
                ஒரே மொழி தமிழ் மொழியாகும். தமிழின் தொன்மை, பிறமொழி தாக்கமின்மை, தாய்மை, இலக்கிய வளமை, இலக்கண செழுமை,
                நடுவுநிலமை, உயர்ந்த விழுமிய சிந்தனைகள, கலை இலக்கியத்தன்மை, </p>
        </div>
    </div>
    <p>மொழிக்கோட்பாட்டுத் தன்மை, செம்மொழிக்குரிய
        பண்புகள் உலக இலக்கியங்காலில் முதன்மை பெற்றவை. சங்க இலக்கியங்கள் பத்துப்பாட்டு, எட்டுத்தொகை, பதினொன்
        கிழ்கணக்கு நூல்கள் இன்றளவும் தமிழ்மொழியின் இலக்கிய வளத்திற்கு இன்பம் சேர்கின்றன. தமிழ்மொழியில் உள்ள
        இலக்கியங்களைப் போல வளமையான, செழுமையான இலக்கியங்கள் உலகிலுள்ள வேறெந்த மொழியிலும் இல்லை. ஒரு மொழியின் இலக்கண
        வளமே பற்பல இலக்கியங்கள் படைக்க முன்னோடியாக திகழ்வதற்கு வழிவகுக்கும். தமிழ் மொழியின் தொன்மையான இலக்கண நூல்
        தொல்காப்பியமாகும். எழுத்து, சொல், பொருள் ஆகிய மூன்றனுக்கும் தொல்காப்பியம் இலக்கணம் கூறுகிறது. அகத்தியரின்
        அகத்தியம் ஐந்திலக்கனங்களின் அருமையை எடுத்துரைக்கிறது. நன்னுள் தண்டியலங்காரம் சதுரகராதி போன்ற இலக்கண நூல்கள்
        தமிழ்மொழிக்கு அணிகலன்கலாய் அழகு சேர்க்கின்றன.</p>
    <div class="my-5">
        <p class="aboutus_title fw-bold"> “யாதும் ஊரே யாவரும் கேளிர்”</p>

        <p class="aboutus_title fw-bold"> “பிறபோக்கும் எல்ல உயிருக்கும் ”</p>

        <p class="aboutus_title fw-bold"> “தீதும் நன்றும் பிறர் தர வாரா ”</p>

        <p class="aboutus_title fw-bold"> “சுழன்று ஏர்பின்னது உலகம்”</p>

        போன்ற இலக்கிய உலகில் அடிகள் இன்றும் வாழ்ந்து கொண்டிருக்கும் மக்களுக்கு வழிகாட்டும் கலங்கரை விளக்கங்களாய்
        திகழ்கின்றன.
    </div>
    <h3 class="my-5"> TAM 101 – இலக்கியங்களில் வேளாண்மையும், அறிவியல் தமிழ் பயனாக்கமும் (0 + 1)</h3>
    <h3 class="aboutus_title fw-bold">பாடதிட்டத்தின் நோக்கம்</h3>
    <p>
        இப்பாடதிட்டத்தில் இளநிலை வேளாண்மைப் பயிலும் மாணவர்களுக்குத் தமிழ் இலக்கியங்கள் வழி வேளாண்மை மற்றும் வேளாண்மைச்
        சார்ந்த தொழில் நுட்பங்களையும், செய்திகளையும் அறியச்செய்வதோடு, தற்கால வேளாண் தொழில்நுட்பங்களோடு பொருத்திப்
        பார்க்கவும் வழிவகைச் செய்கிறது. வேளாண்மைத் தவிரத் தோட்டக்கலை, வனவியல், வேளாண் பொறியியல், மனையியல் சார்ந்த
        கருத்துக்களையும் வெளிக்கொணர்கிறது. மேலும் வேளாண் துறைக்கு இன்றியமையாத கலைச்சொற்கள், மொழிபெயர்ப்பு, பாரம்பரிய
        தொழில்நுட்பங்களை அறியச்செய்வதோடு மாணவர்களின் எதிர்காலத் தேவைக்கு அடிப்படையான பேச்சுப்பயிற்சி, நேர்காணலை
        எதிர்கொள்ளும் வகையில் மென்திறன்களான தலைமைப்பண்பு, ஆளுமைப்பண்பு, காலமேலாண்மை ஆகியவற்றில் திறம்பெறச்செய்தல்,
        ஆய்வுக்கட்டுரை திறனை வளர்த்தல், வேளாண்மை இதழ்கள், நூல்கள் குறித்த விழிப்புணர்வை வழங்குகிறது. மேலும் கணினி வழித்
        தமிழில் வேளாண்செய்திகளை பதிவேற்றம், பதிவிறக்கம் செய்யும் முறைகளையும் அறியச்;செய்கிறது
    </p>
    <div class="bg-secondary text-light fw-bold p-3">
        <div class="row">
            <div class="col-lg-6">
                <p>“குடி நிறை வல்சி செம் சால் உழவர் <br>
                    நடை நவில் பெரும் பகடு புதவில் பூட்டி<br>
                    பிடி வாய் அன்ன மடி வாய் நாஞ்சில்<br>
                    உடுப்பு முக முழு கொழு மூழ்க ஊன்றி “<br>
                </p>
                <p class="text-end"> - (பெரும்பாணாற்றுப்படை -200 )</p>
            </div>
        </div>
        <p>பொருள் :</p>
        <p> பழக்கப்பட்ட காளைகளை நுகத்தில் பூட்டி உழுகிறான். அவனது நாஞ்சில் கலப்பையானது துதிக்கையோடு கூடிய பெண்யானையின்
            தலை போன்றது. உடுப்புமுகம் என்பது உடும்பு போன்ற முகம். அது கலப்பையின் நாவுப் பகுதி. அதில் இரும்பாலான கொழுவும்
            சேர்ந்திருக்கும். நாவும் கொழுவும் மண்ணுக்குள் மூழ்கிப்போகும் அளவுக்கு உழவன் ஆழமாக உழுதான்.</p>

    </div>
</div>