<div class="m-5 px-5">
    <h3 class="aboutus_title">VISION</h3>
    <P>
        To make Adhiyamaan College of Agriculture and Research a premiere educational institute in
        agriculture and research in India and to make the college a socially responsible epicentre 
        to deliver advanced technologies to the stakeholders of agriculture.
    </P>
    <h3 class="aboutus_title">MISSION</h3>
    <P>
        The mission of the College is to achieve par excellence credentials in the delivery of 
        innovative agricultural technologies and practical skills in Agricultural Education and 
        Research aiming for the holistic development of farmers, agro-industries and society.
    </P>
    <P>
        Agricultural growth is an important step towards national economic development and 
        transformation. However, the new challenges facing Indian agriculture in today’s more 
        globalized environment have led some questions whether conventional wisdom about the 
        role of agriculture in development is still applicable. Since agriculture constitutes a 
        large share of national output and employs a majority of the labour force, the sector has 
        been integral part national development.
    </P>
    <h3 class="aboutus_title">GOAL</h3>
    <P>   ACAR is committed to develop skills, knowledge and right attitude among students to meet 
        the expectations of Agro-industries and society through dedicated team work which will 
        double the crop yield and triple the farmer’s income.  </P>

</div>