<div class="mx-5">
    <p class="text-center fw-bold fs-3 text-success my-2">Celebrations</p>
    <div class="row mx-5 my-3">
        <div class="card card1 col-md-3 mx-4">
            <img src="{{ teachersDaycelbImages[0]?.url }}" [alt]="" class="text-center w-75 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Teachers Day Celebration 2023
            </p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-1')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ administrative_Office_Opening_2023Images[0]?.url }}" [alt]=""
                class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">ACAR Administrative Office Opening 2023</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-2')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ muthamizh_Vizha_2023Images[0]?.url }}" [alt]="" class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Muthamizh Vizha 2023</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-3')">View More</button>
        </div>

    </div>

    <div class="row mx-5 my-3">
        <div class="card card1 col-md-3 mx-4">
            <img src="{{ freshersDay_2023Images[0]?.url }}" [alt]="" class="text-center w-75 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Freshers Day 2023
            </p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-4')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ Womens_Day_Celebration_2023Images[2]?.url }}" [alt]=""
                class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Women's Day Celebration 2023</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-5')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ Year_Day_Celebration_2021_BatchImages[0]?.url }}" [alt]=""
                class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Year Day Celebration - 2021 Batch</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-6')">View More</button>
        </div>

    </div>

    <div class="row mx-5 my-3">
        <div class="card card1 col-md-3 mx-4">
            <img src="{{ TNAU_Standing_Committee_Visit_2022Images[3]?.url }}" [alt]=""
                class="text-center w-75 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">TNAU Standing Committee Visit 2022
            </p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-7')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ Parents_Teachers_Meeting_2022Images[2]?.url }}" [alt]=""
                class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Parents Teachers Meeting 2022</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-8')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ Independence_Day_2022Images[2]?.url }}" [alt]="" class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Independence Day 2022</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-9')">View More</button>
        </div>

    </div>

    <div class="row mx-5 my-3">
        <div class="card card1 col-md-3 mx-4">
            <img src="{{ agriculture_Innovation_CompetitionImages[3]?.url }}" [alt]=""
                class="text-center w-75 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Agriculture Innovation Competition
            </p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-10')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ club_day_and_hostel_day_2022Images[2]?.url }}" [alt]=""
                class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Club Day and Hostel Day 2022</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-11')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ farewell_2022Images[2]?.url }}" [alt]="" class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Farewell 2022</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-12')">View More</button>
        </div>

    </div>

    <div class="row mx-5 my-3">
        <div class="card card1 col-md-3 mx-4">
            <img src="{{ pongalImages[3]?.url }}" [alt]="" class="text-center w-75 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Pongal
            </p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-13')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ world_food_day_2022Images[3]?.url }}" [alt]="" class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">World Food Day 2022</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-14')">View More</button>
        </div>

        <div class="card card1 col-md-3 mx-4">
            <img src="{{ saraswathi_puja_2022Images[3]?.url }}" [alt]="" class="text-center w-75 h-50 mx-4 my-3" />
            <p class="text-center fw-bold fs-5 text-success mb-5 pb-3">Saraswathi Puja 2022</p>
            <button class="btn btn-success position-absolute bottom-0 start-0 mb-3 m-3"
                (click)="redirectToPage('celeb-15')">View More</button>
        </div>

    </div>
</div>