<div class="m-5 row">
    <div class="col-md-6">
        <img src="assets/acar-college.jpg" alt="" style="width: 100%;">
        <h1 class="aboutus_title">About ACAR</h1>
        <p>
            Agricultural growth is an important step towards national economic development and 
            transformation. However, the new challenges facing Indian agriculture in today’s more 
            globalized environment have led some questions whether conventional wisdom about 
            the role of agriculture in development is still applicable. 
            Since agriculture constitutes a large share of national output and 
            employs a majority of the labour force, the sector has been integral part 
            national development.
        </p>

    </div>
    <div class="col-md-6">
        <h1 class="aboutus_title">AERI Trust</h1>
        <p> 
            Welcome to Adhiyamaan College of Agriculture & Research, Athimugam Village., 
            Shoolagiri Taluk, Krishnagiri District. 
            Adhiyamaan College of Agriculture and Research is being run by AERI Trust 
            (Adhiyamaan Educational & Research Institution), 
            Chennai, which was established during the year 1986.For more than three decades, 
            AERI Trust is doing very good service to the mankind, in the field of Education for 
            the uplift of student community of Krishnagiri District.
        </p>
        <p>
            The founder of the AERI Trust was Dr. M. Thambidurai, 
            then Member of Parliament of Dharmapuri Constituency & Loksabha Deputy Speaker. 
            At present, his wife Dr. Banumathi Thambidurai is the Chairperson of the AERI Trust. 
            The  Trust is well managed by a board of Trustees who are having rich experience 
            in various fields.
        </p>
        <p> 
            This trust is running various educational institutions and is offering Undergraduate, 
            Postgraduate, M.Phil & Ph.D., degrees in the field of Engineering, Architecture, 
            Management, Arts & Science, Education & Law and also offering School Education from 
            Pre KG to +2, both under Matriculation & CBSE stream in various parts of the district.  
            More than 40000 students are studying in these institutions. 
            The latest addition is ACAR in the field of Agriculture.

        </p>
        <p>
            The reason for selecting Athimugam for establishing the Agricultural College was, 
            Krishnagiri District is basically a backward District both Educationally & Economically
            and a drought prone area due to failure of seasonal rain. 
            This area is famous for cash crops such as Mango, Tamarind & Horticulture crops 
            and is exporting cut flowers to various parts of the world because of its proximity to
             Bangalore Airport. Because of the above facts, the Trust has concluded that this a 
             suitable place to start an Agricultural College so that the College can play a 
             vital role in improving the standard of living of farmers of this area.
        </p>
    </div>

</div>