<div class="m-5 row">
    <div class="col-md-6">
        <img src="assets/Dr.-Banumathi-300x200.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-md-6">
        <h1 class="aboutus_title">Chairperson’s Message</h1>
        <p>
            Adhiyamaan College of Agriculture and Research (ACAR) has a concrete vision to
            excel in Agricultural Education reaching new heights in serving humanity and
            environment. Our college is nurtured by the two decades old charitable trust
            Adhiyamaan Educational and Research Institutions (AERI), which makes ACAR different
            from other Agricultural colleges affiliated to TNAU.
            Our vision is to achieve academic excellence in Agricultural Education with
            zeal – one that could put it, “Serve the times as the nation needs”.
            Our mission with committed efforts of learned faculties focusing on inclusive
            curriculum, percolating research with innovative student team and ever modernising
            infrastructure move our strides further on pathways of excellence which makes ACAR
            to reach zenith in Agricultural Education. Our stakeholders namely, the farmers,
            the Agro-industries, government missionaries, private companies and financial
            supporters have acknowledged our activities for providing value-based education and
            excellence. The government and the society also recognize this institution for its
            passion and commitment to the Good Agricultural Education.
        </p>
        <p><b>Dr.Banumathi T </b><br>Chairperson</p>
    </div>
</div>

