.card {
    transition: background-color 0.3s ease;
    border-radius: 0%;
}

.card:hover {
    background-color: #339623;
    /* Replace with your desired background color */
}

.card-1 {
    background-color: #dc3545;
}

.card-2 {
    background-color: #ffa624;
}