<div class="m-5 ">
    <div class="d-flex flex-wrap">
        <div class="card bg-success p-5 col-md-6 text-center text-light justify-content-center align-items-center ">
            <h1 class="display-1">Why ACAR ?</h1>
            <h2>Adhiyamaan College of Agriculture and Research</h2>
        </div>
        <div class=" col-md-6 text-center">
            <div class="d-flex flex-wrap ">
                <div class="card p-5 col-md-6 card-1 text-light fw-bold fs-5" routerLink="/campus/labs">
                    <i class="fas fa-flask fs-3"></i>Well Equipped LABS
                </div>
                <div class="card p-5 col-md-6 card-2 text-light fw-bold fs-5" routerLink="/campus/gis-guest-lecture">
                    <i class="fa-solid fa-users fs-3"></i>Guest Lectures
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="card p-5 col-md-6 card-2 text-light fw-bold fs-5" routerLink="/campus/field-visit-and-all-india-tour">
                    <i class="fa-solid fa-tractor fs-3"></i>Feild Vists And Tour
                </div>
                <div class="card p-5 col-md-6  card-1 text-light fw-bold fs-5" routerLink="life-at-acar/Sports">
                    <i class="fa-solid fa-volleyball fs-3"></i>Sports
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="card p-5 col-md-6  card-1 text-light fw-bold fs-5"
                    routerLink="life-at-acar/trainings-and-events">
                    <i class="fa-solid fa-gears fs-3"></i>Training events
                </div>
                <div class="card p-5 col-md-6 card-2 text-light fw-bold fs-5" routerLink="life-at-acar/hostel">
                    <i class="fa-solid fa-hotel fs-3"></i>Hostel Facilities
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap">
        <div class="col-md-6 text-center">
            <div class="d-flex flex-wrap">
                <div class="card p-5 col-md-6 card-2 text-light fw-bold fs-5" routerLink="life-at-acar/IT-Lab">
                    <i class="fa-solid fa-laptop fs-3"></i>IT LAB
                </div>
                <div class="card p-5 col-md-6  card-1 text-light fw-bold fs-5" routerLink="life-at-acar/Library">
                    <i class="fa-solid fa-book fs-3"></i>Library
                </div>
            </div>
        </div>
        <div class=" col-md-6 text-center">

            <div class="d-flex flex-wrap">
                <div class="card p-5 col-md-6 card-2 text-light fw-bold" routerLink="academics/books">
                    <!-- <i class="fa-thin fa-book-open-reader"></i> -->
                    <i class="fa-solid fa-book-open-reader fs-2"></i>Books
                </div>
                <div class="card p-5 col-md-6 text-wrap  card-1 text-light fw-bold"
                    routerLink="academics/newsletters-brouchers">
                    <i class="fa-solid fa-newspaper fs-2"></i>Publications
                </div>
            </div>
        </div>
    </div>
</div>