.card {
    transition: background-color 0.3s ease;
    border-radius: 0%;
}

.card:hover {
    background-color: #339623;
    cursor: pointer;
    /* Replace with your desired background color */
}

.card-1 {
    background-color: #151e4e;
}

.card-2 {
    background-color: #77162f;
}