<div class="m-5 ">
    <div class="d-flex flex-wrap">
        <div class="card bg-success p-5 col-md-6 text-center text-light justify-content-center align-items-center ">
            <h1 class="display-1">Why ACAR ?</h1>
            <h2>Adhiyamaan College of Agriculture and Research</h2>
        </div>
        <div class=" col-md-6 text-center">
            <div class="d-flex flex-wrap ">
                <div class="card p-5 col-md-6 card-1 text-light fw-bold fs-5" routerLink="/campus/labs">
                    <i class="fas fa-flask fs-3"></i>Well Equipped LABS</div>
                <div class="card p-5 col-md-6 card-2 text-light fw-bold fs-5">
                    <i class="fa-solid fa-users fs-3"></i>Guest Lectures</div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="card p-5 col-md-6 card-2 text-light fw-bold fs-5">
                    <i class="fa-solid fa-tractor fs-3"></i>Feild Vists And Tour</div>
                <div class="card p-5 col-md-6  card-1 text-light fw-bold fs-5">
                    <i class="fa-solid fa-volleyball fs-3"></i>Training events and Sports</div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="card p-5 col-md-6  card-1 text-light fw-bold fs-5">
                    <i class="fa-solid fa-gears fs-3"></i>Awarness Programms</div>
                <div class="card p-5 col-md-6 card-2 text-light fw-bold fs-5" >
                    <i class="fa-solid fa-hotel fs-3"></i>Hostel Facilities</div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap">
        <div class="col-md-6 text-center">
            <div class="d-flex flex-wrap">
                <div class="card p-5 col-md-6 card-2 text-light fw-bold fs-5">
                    <i class="fa-solid fa-laptop fs-3"></i>IT LAB</div>
                <div class="card p-5 col-md-6  card-1 text-light fw-bold fs-5" >
                    <i class="fa-solid fa-book fs-3"></i>Library</div>
            </div>
        </div>
        <div class=" col-md-6 text-center">

            <div class="d-flex flex-wrap">
                <div class="card p-5 col-md-6 card-2 text-light fw-bold ">
                    <i  class="fas fa-file fs-2"></i>Courses</div>
                <div class="card p-5 col-md-6 text-wrap  card-1 text-light fw-bold ">
                    <i class="fa-solid fa-newspaper fs-2"></i>Books And Publications</div>
            </div>
        </div>
    </div>
</div>