<!-- <div class="m-5">
    <div *ngFor="let image of imageUrls" class="row">
        <p-image src="{{image.url}}" [preview]="true" width="250" class="col"></p-image>
    </div>
</div> -->

<!-- <div class="mx-5 my-3"> -->
    <!-- <div class="row">
        <h3 class="aboutus_title text-center">Laboratories</h3>
        <div *ngFor="let image of imageUrls" class="col p-2">
            <p-image src="{{image.url}}" [preview]="true" width="250"></p-image>
            <h6 class="p-2 text-success">{{image.name.split('.')[0]}}</h6>
        </div> -->
<!-- </div> -->

<div class="image-wrapper">
    <div class="row">
        <h3 class="aboutus_title text-center">Laboratories</h3>

        <ng-container *ngIf="imageUrls" class="">
            <div class="d-flex flex-wrap justify-content-start align-items-center">
                <div *ngFor="let image of imageUrls; let index = index" class="col-lg-3 mb-3">
                    <img [src]="image.url" [alt]="" (click)="imageClick(index)" class=" mx-5 p-3 h-100 w-75" />
                    <h6 class="p-2 text-success text-center">{{image.name.split('.')[0]}}</h6>
                </div>
            </div>
        </ng-container>
    </div>
    <p-galleria [value]="imageUrls" [(visible)]="displayCustom" [activeIndex]="activeIndex"
        [responsiveOptions]="responsiveOptions" [numVisible]="7" [circular]="true" [fullScreen]="true"
        [showItemNavigators]="true" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.url" />
        </ng-template>
    </p-galleria>
</div>
<!-- </div> -->