<h1 class="aboutus_title text-center my-4">Department of Agriculture and Rural Management</h1>
<div class="row mx-5 justify-content-between">
    <div class="col-lg-8">
       <p> Agriculture and Rural Management is bridge between rural agriculture society and its development in countries
        like India where farming is its main economic activity. Main contribution of agriculture to rural development
        are employment, agriculture income (Farm Profit), earnings from ancillary businesses and environmental services
        with effective use of scarce resources like land, labour and capital. Thus, managing agriculture and rural
        society is highly important. Developing countries are moving from being largely rural and agrarian to becoming
        urban and industrial. Thus, create jobs and livelihoods for small farmers and the landless, while producing food
        and raw materials for the urban economy.</p>

        <p> Agriculture Agriculture and Rural Management will train students to be efficient in managing improved agriculture
        technologies leading to increased productivity and profitability of agriculture and horticulture sector. They
        will help the rural society to convert traditional sustainable agriculture into agribusiness through modern
        technologies and agricultural policies. It opens doors for students to start their carrier in multitude of
        industries like commercial farming, retail marketing, food processing, food production, allied farming industry
        and rural financing and banking. Since increasing the scale of production is the particular concern most farmers
        in the developing world are smallholders. Hence, finding ways to link small farmers to link effectively to
        large-scale enterprises in supply chains is a challenge.</p>

        <p> AgricultureDepartment of Agricultural Rural Management in ACAR provides knowledge for students, to the study of
        opportunities for smallholder farmers to scale up their activity and increase market engagement by providing the
        following courses.</p>
    </div>
    <div class="col-lg-4 ">
        <div class="bg-success border-5 border-warning card py-5">
            <h2 class="text-center align-middle text-light">Courses Offered</h2>
            <button type="button" class="btn btn-light fs-5 mx-5 my-3" (click)="showDialog()">View
                Courses</button>
            <p-dialog header="Courses Offered by the department," [resizable]="false" [modal]="true" [maximizable]="true"
                appendTo="body" [(visible)]="dialogVisible" [style]="{width: '75vw'}"
                [contentStyle]="{height: '400px'}">

                <table style="width:100%">
                    <tr class="text-center">
                        <th>S.No.</th>
                        <th>Code</th>
                        <th>Course Title</th>
                        <th>Credit Hours</th>
                        <th>Syllabus</th>
                    </tr>
                    <tr class="text-center"> 
                        <td>1</td> 
                        <td>ARM 321</td>
                        <td class="text-start">Agribusiness Management and Entrepreneurship
                        </td>
                        <td>(1+1)</td>
                        <td> 2015</td>
                    </tr>
                    <tr class="text-center">
                        <td>2</td>
                        <td>ARM 301</td>
                        <td class="text-start"> Entrepreneurship Development and Business Management </td>
                        <td>(1+1)</td>
                        <td>2017 </td>
                    </tr>
                    <tr class="text-center">
                        <td>3</td>
                        <td>ARM 451 </td>
                        <td class="text-start">Managerial skills for Agribusiness</td>
                        <td>(0+10)</td>
                    </tr>
                  
                    <tr class="text-center">
                        <td> 4</td>
                        <td>SST 351</td>
                        <td class="text-start">Seed entrepreneurship skill development and management</td>
                        <td>(1+1)</td>
                    </tr>
                </table>
            </p-dialog>
        </div>
    </div>
</div>