<div class="mx-5">
    <h1 class="aboutus_title text-center my-3">ACAR IT Infrastructure</h1>
    <p>ACAR has 170 systems for students and Examination purpose, separated into two labs. Main ACAR – IT LAB with 120
        systems in A – Block and 50 Systems in B – Block These systems are connected to central windows server 2019
        which has one two Domain Controllers with DNS and DHCP server and One Windows deployment Server (WDS).</p>
    <p>All the systems with CAL License are connected to Windows Server Domain Controller by STAR Topology. Windows 10
        Operating system are deployed through Microsoft Deployment Tool Kit (MDT) through WDS, Other applications,
        deployment, maintenance and upgrade are done through PDQ Deploy software.</p>
    <p>ACAR has 512 MBPS Internet connection which is provided by service providers Smart Wifi. Internet is routed this
        D Link Router of 1 gigabit switches made by CISCO.</p>
    <p>Boys and Girls Hostel are connected with 200MBPS internet connection</p>
</div>
<div class="mx-5">
    <h1 class="aboutus_title text-center my-3">Online Exam Centre</h1>
    <p>Exams like AIIMS, JIPMER, ICMAI, JEE, TNPSC, IBPS, NPTEL, BIM Fellowship, City Union Bank Exams are conducted in
        Adhiyamaan College of Agriculture. Till now more than 2500 candidates have appeared for the exams.</p>
</div>