table,
th,
td {
    border: 1px solid rgb(223, 211, 211);
    border-collapse: collapse;
    padding: 0.5em;
}

::ng-deep div#pn_id_74 {
    width: 100% !important;
}

::ng-deep  div#pn_id_76 {
    width: 100% !important;
}