<div class="d-flex justify-content-center my-4  text-center ">
    <h1 class="aboutus_title">Course Offered B.Sc (Hons) Agriculture</h1>
    <!-- <button class="my-3 mx-5 text-decoration-underline btn btn-primary" *ngIf="showApplicationForm" (click)="showDialog()"></button> -->
    <p-button label="Click here for application form" [link]="true" class="my-2 mx-2 text-decoration-underline"
        (click)="showDialog()"></p-button>
    <p-dialog header="B.Sc. (Hons.) Agriculture Application Form" [resizable]="false" [modal]="true"
        [maximizable]="true" appendTo="body" [(visible)]="dialogVisible" [style]="{width: '75vw'}"
        [contentStyle]="{height: '400px'}" class="custom-dialog">


        <div class="form-container">
            <form id="applicationForm">

                <div class="flex flex-column gap-2 my-2">
                    <label for="first_name">First Name <span class="text-danger">*</span> </label>
                    <input pInputText id="first_name" [(ngModel)]="first_name" class="form-control"
                        [ngModelOptions]="{standalone: true}" />
                </div>

                <div class="flex flex-column gap-2 my-2">
                    <label for="last_name">Last Name <span class="text-danger">*</span> </label>
                    <input pInputText id="last_name" [(ngModel)]="last_name" class="form-control"
                        [ngModelOptions]="{standalone: true}" />

                </div>

                <div class="flex flex-column gap-2 my-2">
                    <label for="email">Email <span class="text-danger">*</span> </label>
                    <input pInputText id="email" [(ngModel)]="email" class="form-control" type="email"
                        [ngModelOptions]="{standalone: true}" />

                </div>

                <div class="flex flex-column gap-2 my-2">
                    <label for="tel">Mobile Number <span class="text-danger">*</span> </label>
                    <input pInputText id="tel" [(ngModel)]="tel" class="form-control" type="tel"
                        [ngModelOptions]="{standalone: true}" />
                </div>

                <div class="flex flex-column gap-2 my-2">
                    <label for="qouta">B.Sc (Hons) Agriculture <span class="text-danger">*</span> </label>
                    <p-dropdown [options]="qouta" [(ngModel)]="selectedQouta" optionLabel="name"
                        [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}"></p-dropdown>

                </div>

                <div class="flex flex-column gap-2 my-2">
                    <label for="tnauCounselling">Have you Applied for TNAU Counselling <span
                            class="text-danger">*</span> </label>
                    <p-dropdown [options]="tnauCounselling" [(ngModel)]="selectedtnauCounselling" optionLabel="name"
                        [ngModelOptions]="{standalone: true}" aria-describedby="tnauCounselling"
                        [style]="{'width':'100%'}"></p-dropdown>
                    <small id="tnauCounselling" class="text-warning">Both for Management and Counseling admission,
                        candidates must apply
                        through TNAU</small>
                </div>

                <div class="form-group">
                    <label for="your_msg">Your Message</label>
                    <textarea type="text" id="your_msg" class="form-control" [(ngModel)]="your_msg"
                        [ngModelOptions]="{standalone: true}" required></textarea>
                </div>

                <div class="form-group my-4">
                    <input type="submit" value="Submit" class="btn btn-danger" (click)="submitApplicationForm()">
                </div>
            </form>
        </div>


    </p-dialog>
</div>
<div class="mx-5">
    <table>
        <tr>
            <td class="fw-bold">Duration: </td>
            <td>Four Years </td>
        </tr>
        <tr>
            <td class="fw-bold">Eligibility: </td>
            <td>Candidates should have passed all the subjects in Academic stream of the Qualifying Examination with
                10+2 years of schooling under Board of Higher Secondary Education of Government of Tamil Nadu / Central
                Board of Secondary Education / Council for the Indian School Certificate Examinations / other State
                Government Boards / other International Boards that are recognized are eligible (As per TNAU
                recommendations)</td>
        </tr>
        <tr>
            <td class="fw-bold">System of Education: </td>
            <td>Semester System</td>
        </tr>
    </table>

    <div class=" my-3">
        <h3 class="aboutus_title">Admission Procedure:</h3>
        <p>65% strength will be admitted through the Tamil Nadu Agricultural University (TNAU) and 35% by ACAR
            Management
            adopting TNAU eligibility norms. Candidates should register online in TNAU admission website and should
            obtain
            the ranking.</p>
        <p class="fw-bold">Candidates who have studied any one of the following are eligible to apply.</p>

        <table>
            <tr>
                <td class="fw-bold">
                    Group I</td>
                <td>
                    Mathematics, Physics, Chemistry and Biology</td>
            </tr>
            <tr>
                <td class="fw-bold">
                    Group II</td>
                <td>
                    Physics, Chemistry, Biology with any one of the fourth (elective) subjects viz., Biotechnology,
                    Microbiology, Biochemistry, Computer Science, Home Science, Agriculture, Horticulture, Informatics
                    practices*, and Environmental Science
                </td>
            </tr>
            <tr>
                <td class="fw-bold">
                    Group II (A) </td>
                <td>
                    Physics, Chemistry, Botany and Zoology
                </td>
            </tr>
            <tr>
                <td colspan="2">* subject to approval of TNAU</td>
            </tr>
        </table>
    </div>

    <div class=" my-3">
        <h3 class="aboutus_title">Ranking Procedure:</h3>
        <p> The calculation of aggregate is based on the marks obtained by the candidate and not the grades. The
            candidate has to upload the marksheet (in percentage) given by the appropriate authority. Grace marks
            awarded will not be counted for calculating aggregate mark and for ranking.</p>
        <p>Aggregate mark = ∑ (Marks obtained in each subject) / ∑ (Maximum mark for that subject) X 50</p>
        <p><b>Example:</b> If a candidate has studied Mathematics, Physics, Chemistry and Biology and obtained the marks
            as
            follows, the aggregate mark shall be calculated as:</p>
        <table>
            <tr>
                <th>Subjects</th>
                <th>
                    Marks Obtained</th>
                <th>
                    Maximum Marks</th>
                <th>Converted to 50</th>
            </tr>
            <tr>
                <td>Mathematics</td>
                <td>90</td>
                <td>100</td>
                <td>45</td>
            </tr>
            <tr>
                <td>Physics</td>
                <td>94</td>
                <td>100</td>
                <td>47</td>
            </tr>
            <tr>
                <td>Chemistry</td>
                <td>80</td>
                <td>100</td>
                <td>40</td>
            </tr>
            <tr>
                <td>Biology</td>
                <td>70</td>
                <td>100</td>
                <td>35</td>
            </tr>
            <tr class="">
                <td colspan="3" class="text-end fw-bold"> Aggregate Mark </td>
                <td class="fw-bold">167</td>
            </tr>
        </table>
    </div>
    <div class="bg-secondary fw-bold text-light p-3 row">
        <p>காய்ச்செந்நெற் கதிரருந்து
            மோட்டெருமை முழுக்குழவி
            கூட்டுநிழல் துயில்வதியும்
            கோட்டெங்கிற் குலைவாழைக்
            காய்க்கமுகிற் கமழ்மஞ்சள்
            இனமாவின் இணர்ப்பெண்ணை
            முதற்சேம்பின் முளையிஞ்சி (15)</p>
        <p class="text-center mx-5 text-info"> – பட்டினப்பாலை

        </p>
    </div>

</div>