<div class="m-5 row">
    <div class="col-md-6">
        <img src="../../../../assets/acar-principal.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-md-6">
        <h1 class="aboutus_title">Principal’s Message</h1>
        <p>
            The system of agricultural learning now become inevitable to work out new agricultural policy to develop new
            technologies. In this regard, we need to meet the requirement of agricultural graduates to keep pace with
            national development programmes. With this concern, the Adhiyamaan College of Agriculture and Research
            (ACAR), Athimugam, Shoolagiri, Krishnagiri (recognized and affiliated to Tamil Nadu Agricultural University,
            Coimbatore – 3.) was started in the year 2016 to produce quality farm graduates and now it is one of the
            best colleges that inculcate knowledge through teaching, research and outreach activities. <br>
            Our achievements of above goal becomes easy as our ACAR is blessed with modernized infrastructural
            facilities with state of art laboratories, classrooms and well-established farm labs. A well-established
            crop cafeteria is maintained, which is specially meant for the students to practice farming by their own. In
            addition, we have Animal Husbandry unit which includes chicks, cows, goats, pigs and fish besides fodder
            cultivation.</p>

    </div>
    <p>
        The ACAR library is equipped with latest books of different fields, latest Journals and
        Periodicals, Internet facilities which is highly conducive to learning is also established. The ACAR
        strength lies in a team of highly qualified, experienced and dedicated teaching and non-teaching faculty.<br>
        Agricultural education envisages crop biodiversity, sciences of crop cultivation, technology of plant and
        animal production, natural resources management with eco-friendly approaches to preserve environment and
        agri-business. “Learning by Doing” and “Seeing is Believing” are the basic mantra of learning in ACAR.
        Further, we infuse entrepreneurship attitude to the undergraduate students. A holistic development of
        student is the central core of learning programme in ACAR. The outreach programmes include crop cultivation
        camps in the rural areas for serving the poor and weaker sections of the society, besides, Front Line
        Demonstrations, Method and Result Demonstration and awareness programmes on various production technologies.
        The students love the academic ambience at ACAR and achieve their goal at ease. <br>
        I hope that all the student aspirants will feel the conducive academic ambience at ACAR the best, for the proud
        chooser of ACAR.
    </p>
    <div class="bg-secondary text-light fw-bold p-3">
        <p>
            விளைவறா வியன்கழனிக்
            கார்க்கரும்பின் கமழாலைத்
            தீத்தெறுவிற் கவின்வாடி
            நீர்ச்செறுவி னீணெய்தற்
            பூச்சாம்பும் புலத்தாங்கட் (10) <br>

            <span class="text-info"> – பட்டினப்பாலை </span>
        </p>
    </div>

</div>