<!-- top bar section -->
<!-- <div class="acar_topbar">
    <div class="acar_topbar_1">
        <div class="d-flex justify-content-between pt-2 flex-wrap">
            <ul class="d-flex list-unstyled">
                <li class="mx-3"><i class="fas fa-phone px-2 "></i>+91 – 6380277180,
                    +91 – 9442006269,
                    +91 – 9442219990</li>
                <li class="mx-3" ><i class="fas fa-envelope px-2"></i>deanacar&#64;tnau.ac.in, office&#64;acar.ac.in</li>
            </ul>
            <ul class="list-unstyled">
                <li class="mx-3"><i class="fas fa-bars  px-2 "></i>Menu</li>
            </ul>
        </div>
    </div>
</div> -->

<!-- logo and college address -->
<!-- <div class=""> -->
    <!-- <div class="w-100 " style="color: white; font-size: 18px; z-index: 1;"> -->
        <div class="d-flex justify-content-center flex-wrap acar_header_background py-3">
            <!-- logo -->
            <img src="assets/acar-logo.png" alt="Logo" style="width: 80px; height: 80px; max-width: 100%;" class="">
            <!-- address -->
            <div class="acar_header_01 px-2">
                <h2 class="text-success">அதியமான் வேளாண்மைக் கல்லூரி மற்றும் ஆராய்ச்சி<br>
                    Adhiyamaan College of Agriculture and Research</h2>
                <h5 class="text-success">Affiliated to TamilNadu Agricultural University ( Affiliation No.E1/A.E.R.I/02711/2016 ) <br>
                Shoolagiri to Berigai Road, Athimugam Village, Krishnagiri District 635105.</h5>
            </div>
            <!-- logo -->
            <img src="assets/AERI-LOGO.jpg" alt="Logo" style="width: 80px; height: 80px; max-width: 100%;" class="">
        </div>

        <!-- nav bar -->
        <div class=" marquee-container">
            <div class="marquee">
           <p class="fs-4 m-0 text-success"> For Enquiry - Please Contact +91 –   6380277180, 9442006269, 9442219990  |  Awaiting ICAR Accreditation </p>
          </div>
          </div>
        <!-- <div class="">
            <div class="">
                <div class="d-flex justify-content-between pt-2 flex-wrap">
                    <ul class="d-flex list-unstyled">
                        <li class="mx-3"><i class="fas fa-phone px-2 "></i>+91 – 6380277180,
                            +91 – 9442006269,
                            +91 – 9442219990</li>
                        <li class="mx-3"><i class="fas fa-envelope px-2"></i>deanacar&#64;tnau.ac.in,
                            office&#64;acar.ac.in</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="mx-3"><i class="fas fa-bars  px-2 "></i>Menu</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="">
            <p-menubar [model]="items"></p-menubar>
        </div>

    <!-- </div> -->