<div class="d-flex justify-content-center flex-wrap acar_header_background py-3">
    <!-- logo -->
    <img src="assets/acar-logo.png" alt="Logo" style="width: 80px; height: 80px; max-width: 100%;" class="">
    <!-- address -->
    <div class="acar_header_01 px-2 text-center">
        <h2 class="text-success">அதியமான் வேளாண்மைக் கல்லூரி மற்றும் ஆராய்ச்சி<br>
            Adhiyamaan College of Agriculture and Research</h2>
        <h5 class="text-success">Affiliated to TamilNadu Agricultural University ( Affiliation
            No.E1/A.E.R.I/02711/2016
            ) <br>
            Shoolagiri to Berigai Road, Athimugam Village, Krishnagiri District 635105.</h5>
        <h6 class="text-success">ICAR - NAEAB APPROVED ACCREDITATION TO ACAR FOR 5 YEARS
            (F.No.1/14/2023-EQR/Edn./Accre.
            Dated
            February 08, 2024) <br>
            ACAR IS PERMANENTLY AFFILIATED TO TNAU (Affiliation No.E1/A.E.R.I/02711/2016)</h6>

    </div>
    <!-- logo -->
    <img src="assets/AERI-LOGO.jpg" alt="Logo" style="width: 80px; height: 80px; max-width: 100%;" class="">
</div>
<!-- <div class=" px-5 py-2 fw-bold text-light"> -->
<div class="news-container">
    <div class="news-scroller">
        <p class="fs-5 m-0 text-success news-item"> The Management, Principal, Staff & Students Cordially Invite You &
            Your
            Family To GREEN FEST - 2K24 [GREEN AGRICULTURE TO SECURE HUMANITY] ON 10th MARCH 2024, SUNDAY AT 5.30 P M |
            For
            Enquiry - Please Contact +91 – 6380277180, 9442006269, 9442219990. </p>
    </div>

</div>

<div class="">
    <p-menubar [model]="items"></p-menubar>
</div>