<h1 class="aboutus_title text-center my-4">Depatment of Mathematics:</h1>
<div class="mx-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <p-galleria [value]="mathsImages" [showItemNavigators]="true" [showThumbnails]="false"
                [showIndicators]="true" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions"
                [autoPlay]="true" [circular]="true" [numVisible]="1" class="  py-3">
                <ng-template pTemplate="item" let-item>
                    <div>
                        <p-image [src]="item.url" [preview]="true" width="500" class="img-fluid"></p-image>
                        <h6 class=" mb-0 py-2 text-center">{{item.name}}</h6>
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <div class="col-md-6">
            <p> The aim is to offer enriching learning experiences to aspiring young students and ensure special talents
                in
                various domain of mathematics. They are prepared to face the interviews confidently and get attractive
                placements. The department is under the vision to achieve academic excellence, develop talents as well
                as
                practical skills and include healthy attitudes through systematic and effective teaching.</p>

            <p> The course MAT 111 Elementary Mathematics (1+1) course for First semester. In this course the students
                can
                get familiar about permutation, combination, matrix, differential and integral calculus and they are
                very
                much familiar about linear, quadratic and exponential models, this will help the students to learn about
                economics.</p>

            <p> We also Conducting Maths Refreshment course for First years weekly thrice as Co-curriculum from
                17.10.2022
                for 135 students. This course is a bridge between basic mathematics and advanced mathematics. This
                course
                will be helpful for students moving from school mathematics to a degree level. It covers important basic
                concepts and formulae of basic algebra, logarithms, trigonometry, derivatives, integrations and models.
                It
                shows the correct use of various formulae.</p>
        </div>
    </div>
    <h1 class="aboutus_title text-center my-4">Agricultural Statistics:</h1>
    <p> The aim this course is to offer enriching learning experiences to aspiring young students and ensure special talents
    in various domain of mathematics. They are prepared to face the interviews confidently and get attractive
    placements. The department is under the vision to achieve academic excellence, develop talents as well as practical
    skills and include healthy attitudes through systematic and effective teaching.</p>

    <p> The course STA 201 Statistical Methods (1+1) course for Fourth semester. This course helps to the students to
    understand and apply fundamental concept of statistical applications in agriculture and allied sciences and to
    acquire about the theoretical concepts of data collection, graphical and diagrammatical representation of data,
    descriptive statistics, sampling methods, testing of hypothesis, correlation, regression, ANOVA and basic design of
    experiments.</p>

    <p> We also Conducting Maths Refreshment course for First years weekly thrice as Co-curriculum to enhance their
    calculation and Brainstorming skills during their leisure time.</p>
</div>