::ng-deep ul.p-galleria-indicators.p-reset.ng-star-inserted {
    display:none
}
::ng-deep button.p-ripple.p-element.p-galleria-item-next.p-galleria-item-nav.p-link.ng-star-inserted {
    // display: none;
    color: rgb(219, 213, 213);
}
::ng-deep button.p-ripple.p-element.p-galleria-item-prev.p-galleria-item-nav.p-link.ng-star-inserted {
    color: rgb(219, 213, 213);

}