<div class="d-flex flex-wrap justify-content-between mx-5 ">
    <div class="text-center card card card_1 text-light">
        <h3 class="">Campus overview</h3>
        <h5 class="text-decoration-underline">
            122 Acre Campus</h5>
        <p>
            <b>12.75 N ; 77.98 E ; 810 <br>Altitude</b>
        </p>
    </div>
    <div class=" card card_2 text-light">
        <h3 class="text-center">Placements</h3>
        <div class=>
            <div class="mx-2 d-flex flex-wrap justify-content-between ">
                <h6>Agriculture Officer </h6>
                <h6>- 4 </h6>
            </div>
            <div class="mx-2 d-flex flex-wrap justify-content-between ">
                <h6>Abrod</h6>
                <h6> - 1</h6>
            </div>
        </div>
    </div>
    <div class="card card_3 text-light">
        <h3 class="text-center">Higher Education</h3>
        <div class="">
            <div class="mx-2 d-flex flex-wrap justify-content-between ">
                <h6>CAR </h6>
                <h6>- 1</h6>
            </div>
            <div class="mx-2 d-flex flex-wrap justify-content-between ">
                <h6>TNAU Higer Studies </h6>

                <h6>- 16</h6>
            </div>
            <div class="mx-2 d-flex flex-wrap justify-content-between ">
                <h6>Other Institutions </h6>
                <h6>- 6 </h6>
            </div>
        </div>
    </div>

    <div class="text-center card card_4 text-light">
        <h3 class="">Trainings</h3>
        <h6>ATMA</h6>
        <h6>Eri Silkworm</h6>
        <h6>Vermicompost</h6>
    </div>
</div>