<h1 class="aboutus_title text-center my-2">Non - Teaching staff</h1>

<div class="m-5">
    <div class="row ">

        <div class="col-md-3">
            <div class=" card border text-center my-2">
                <div class="p-3">
                    <p-image src="assets/S.-Balaji-gowda.jpg" alt="Image" width="200" [preview]="true"></p-image>
                </div>
                <div class="p-3">
                    <h5 class="text-danger">Mr BALAJI</h5>
                    <h5 class="text-center">Administrative Officer</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class=" card border text-center my-">
                <div class="p-4">
                    <p-image src="assets/m.ravi_.jpg" alt="Image" width="200" [preview]="true"></p-image>
                </div>
                <div class="p-4">
                    <h5 class="text-danger">Mr. M. RAVI</h5>
                    <h5 class="text-center">AAO</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class=" card border text-center my-2">
                <div class="p-3">
                    <p-image src="assets/Mrs.-C.-Pushpa.jpg" alt="Image" width="200" [preview]="true"></p-image>
                </div>
                <div class="p-3">
                    <h5 class="text-danger">Mrs.C.PUSHPA</h5>
                    <h5 class="text-center">Librarian</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class=" card border text-center my-2">
                <div class="p-4">
                <p-image src="assets/sidan.jpg" alt="Image" width="200" [preview]="true"></p-image>

                </div>
                <div class="p-4">
                    <h5 class="text-danger">Mr.SIDDAN</h5>
                    <h5 class="text-center">AAO</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class=" card border text-center my-2">
                <div class="p-3">
                <p-image src="assets/M-R-Nandhini.jpg" alt="Image" width="200" [preview]="true"></p-image>


                </div>
                <div class="p-3">
                    <h5 class="text-danger">Mrs.NANDHINI</h5>
                    <h5 class="text-center">AAO</h5>
                </div>
            </div>
        </div>

    </div>





    <!-- <div class="d-flex flex-warp gap-5 m-5">
        <div class=" card border text-center p-3">
            <div>
                <p-image src="assets/S.-Balaji-gowda.jpg" alt="Image" width="200" [preview]="true"></p-image>
            </div>
            <div>
                <h5 class="text-danger">Mr BALAJI</h5>
                <h5 class="text-center">Administrative Officer</h5>
            </div>
        </div>
        <div class=" card border text-center p-3">
            <div>
                <p-image src="assets/m.ravi_.jpg" alt="Image" width="200" [preview]="true"></p-image>
            </div>
            <div>
                <h5 class="text-danger">Mr. M. RAVI</h5>
                <h5 class="text-center">AAO</h5>
            </div>
        </div>
        <div class=" card border text-center p-3">
            <div>
                <p-image src="assets/Mrs.-C.-Pushpa.jpg" alt="Image" width="200" [preview]="true"></p-image>
            </div>
            <div>
                <h5 class="text-danger">Mrs.C.PUSHPA</h5>
                <h5 class="text-center">Librarian</h5>
            </div>
        </div>

        <div class=" card border text-center p-3">
            <div>
                <p-image src="assets/sidan.jpg" alt="Image" width="200" [preview]="true"></p-image>
            </div>
            <div>
                <h5 class="text-danger">Mr.SIDDAN</h5>
                <h5 class="text-center">AAO</h5>
            </div>
        </div>
    </div>
    <div class="d-flex flex-warp gap-5 m-5">

        <div class=" card border text-center p-3">
            <div>
                <p-image src="assets/lokesh.jpg" alt="Image" width="200" [preview]="true"></p-image>
            </div>
            <div>
                <h5 class="text-danger">Mr. LOKESH</h5>
                <h5 class="text-center">AAO</h5>
            </div>
        </div>

        <div class=" card border text-center p-3">
            <div>
                <p-image src="assets/M-R-Nandhini.jpg" alt="Image" width="200" [preview]="true"></p-image>
            </div>
            <div>
                <h5 class="text-danger">Mrs.NANDHINI</h5>
                <h5 class="text-center">AAO</h5>
            </div>
        </div>
    </div> -->
</div>