<div>
    <div class="row m-5 mb-0">
        <div class=" acar_activites col-md-6 ">
            <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="true"
                [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000" *ngIf="products" class="card">
                <ng-template let-product pTemplate="item">
                    <div class="border-1 surface-border border-round text-center">
                        <div class="mt-5">
                            <img src="{{ product.url }}" [alt]="" class="shadow-2 col-lg-10 h-6" />
                        </div>
                        <div>
                            <h4 class="mb-1">{{ product.title }}</h4>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>


        <div class="col-md-6 ">
            <h2 class="aboutus_title">AGRICULTURAL ENGINEERING</h2>
            <p>
                B.Sc. (Hons.) Agriculture degree programme offers four Agricultural Engineering courses Soil and Water
                Conservation Engineering,
                Farm Machinery and Power, Renewable Energy and Green Technology, Protected Cultivation and Secondary
                Agriculture.
                In this, we are going through significant topics such as surveying and levelling instruments, soil and
                water
                conservation measures,
                Irrigation systems, farm machinery and implements, tractor driving, renewable energy gadgets, biomass
                energy
                conversion,
                bio-fuels production, and post-harvest technology for crops.
            </p>
            <p>
                Soil and water are two important natural resources and the basic needs for agricultural production.
                During the last century, it has been observed that the pressure of increasing population has led to the
                degradation of
                these natural resources. In other words, an increase in agricultural production to feed the increasing
                population is only possible
                if there are sufficient fertile land and water available for farming. That’s why soil and water should
                be
                given priority from
                the conservation point of view and appropriate methods should be used to ensure their sustainability and
                future availability.
            </p>
        </div>
    </div>

    <div class="mx-5">
        <p>All citizens should be made aware of the importance of natural resources as our lives depend on them and
            everyone should be involved in the process of caring for these resources properly and using them
            intelligently.</p>
        <p> On our campus, we have perfect soil and water conservation measures, permanent gully control structures and
            groundwater recharging structures. The water-saving technology of the Drip Irrigation system and Sprinkler
            Irrigation System were established for optimal production and water savage. Mostly irrigation water is
            pumped from the borewell because of that the groundwater table declined day by day. To overcome this
            problem, we have a percolation pond and artificial bore well recharging system for replenishing the
            groundwater level.</p>
        <p>
            Farm Power is an essential input in agriculture for timely field operations for increasing production and
            productivity of the land.
            Farm mechanization plays a critical role in increasing agricultural productivity.
            Mechanization has been well received in India as one of the important elements of the modernization of
            agriculture,
            enhancing agricultural productivity and consequently rural prosperity.
            In this regard, various types of machinery and implements such as mould board ploughs, cultivators,
            power weeders, rotavators and seed-cum-fertilizer drill were available on our campus for increasing
            agricultural
            productivity.
        </p>
        <p> During course work on renewable energy and green technology, the students will be learning about renewable
            energy sources to meet
            future energy requirements because of the depletion of coal reserves, increasing import of coal,
            crude oil and other energy sources besides the rising concern over climate change.
            Further use of protected cultivation with controlled environment and post-harvest unit operations and
            processing of agricultural
            crops during the respective course work are also delivered.</p>
    </div>

    <div class=" mx-5 p-3 fw-bold bg-secondary text-light">
        <p>தொடிப்புழுதி கஃசா உணக்கின் பிடித்தெருவும்</p>
        <p>வேண்டாது சாலப் படும் குறள் – 1037</p>
        <p class="text-info">பொருள்:</p>
        <p>உழுத மண்ணை, ஒருபலம் புழுதி, காற்பலம் ஆகிற அளவுக்குப் புழுதி ஆகும்படி காய விட்டுப் பிறகு பயிர் செய்தால் ஒரு
            கைப்பிடி அளவு எருவும் இடாமலேயே கூட அந்தப் பயிர் அதிகம் விளையும்.</p>
    </div>
</div>