<h1 class="aboutus_title text-center mt-2">Division of Plant Protection</h1>
<div class="mx-5 mb-5">
    <div class="row">
        <div class="col-md-6 ">
            <p-galleria [value]="imageUrls" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
                [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [autoPlay]="true"
                [circular]="true" [numVisible]="1" class="  py-3">
                <ng-template pTemplate="item" let-item>
                    <div>
                        <h5 class="text-center py-2">Entomology Student Activities</h5>
                        <p-image [src]="item.url" [preview]="true" width="500"></p-image>
                        <h6 class=" mb-0 py-2 text-center text-wrap">{{item.name}}</h6>
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <div class="col-md-6 my-2">
            <p> The Division of Plant Protection encompasses Agricultural Entomology, Plant Pathology, Plant Nematology
                and Sericulture. The main vision of the Plant Protection division is imparting teaching, research and
                extension activities. Plant Protection plays a vital role in fulfilling targets of crop production. The
                thrust areas of plant protection are encouragement of Integrated Pest Management, Integrated Diseases
                Management, Integrated Nematode Management ensuring availability of safe and quality pesticides for
                sustaining crop production from the ravages of pests and diseases. </p>
            <h3 class="aboutus_title">
                The main goals are,
            </h3>
            <ul>
                <li>To impart knowledge on pests, diseases and nematodes to the students.</li>
                <li>To observe pests, diseases and nematode infestation on vegetables and fruit crops in the local area
                    in regular basis. </li>
                <li>To create awareness on IPM, IDM and INM to farmers. </li>
                <li>To motivate sericulture farmers and ensure the quality of cocoon production.</li>
                <li>Encouraging the entrepreneurship skills to the students such as honey production, silk cocoons,
                    bio-control agents, soil nematode for pest controls, mushroom production, biological control agents
                    productions and fungicides preparations</li>
                <li>Considering the higher studies at ICAR, TNAU, etc. of the final year students, special coaching and
                    training is being given periodically.</li>
            </ul>
        </div>
    </div>
    <div>
        <h1 class="aboutus_title">Department Agricultural Entomology</h1>
        <p> Department of Agricultural Entomology under the Division of Plant protection of Adhiyamaan College of
            Agriculture and Research is now completing seven years (as on November, 2022) of unique activity imparting
            to undergraduate students teaching, research and extension on Agricultural Entomology and also advisory
            services to farmers. The department has begun with fundamentals of entomology and taxonomic studies on
            various insects and then drawn to the studies on management of beneficial and harmful insects with special
            emphasis on sericulture, apiculture and pest management of field and horticultural crops. On 5th May 2019,
            Insect museum was established to create interest and arouse the curiosity among the undergraduate students.
            Further, a bio-control production unit was started in August, 2022 and the department involved in mass
            culturing of bio-control agents viz., Trichogramma, Bracon and Cryptolaemus montrouzieri. Apart from that,
            the department is maintaining beekeeping with six Indian honeybee colonies to provide agricultural education
            to the student’s during the classes and also trainings to rural youths and the progressive farmers.</p>
        <p>Our department has well furnished facilities which meet the requirements to impart knowledge on agricultural
            entomology to under graduate students. Our laboratory comprises of 320 insect collection boxes, 120 insect
            display box, two storing cabinets, more than 50 wet preserved specimens, 11 compound microscope, 55
            dissection microscope, weighing balance, pH meter, refrigerator, beekeeping equipments, silkworm rearing
            appliances, by-products of sericulture and lac insect products, Pesticides container, insect traps, lab
            chemicals, Soxhlet apparatus and glass wares. </p>
    </div>
</div>