<div class="">
  <p-galleria [value]="images" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
    [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true"
    [numVisible]="1">
    <ng-template pTemplate="item" let-item>
      <img [src]="item" style="width: 100%; display: block;" />
    </ng-template>

  </p-galleria>
</div>

<!-- Latest News -->
<app-acar-news></app-acar-news>

<!-- Welcome to ACAR -->
<app-welcome2acar></app-welcome2acar>

<!-- Activities -->
<app-activites></app-activites>
<!-- you tube videos -->
<app-youtbue-videos></app-youtbue-videos>
<!-- Placement, training, Campus overview and higher education -->
<app-campus></app-campus>
<!-- Placements -->
<app-placements></app-placements>
<!-- WHY ACAR -->
<app-why-acar></app-why-acar>
<!-- Events -->
<!-- <app-events></app-events> -->
<p-dialog header="" [(visible)]="displayDialog" [modal]="true">
  <!-- <img src="{{dialogBoxImages[0]?.url}}" alt="" class="w-100"> -->
  <p-image src="{{dialogBoxImages[0]?.url}}" [preview]="false" width="" height="400"></p-image>
  
</p-dialog>