

::ng-deep button.p-ripple.p-element.p-carousel-next.p-link {
    display: none;
}
::ng-deep button.p-ripple.p-element.p-carousel-prev.p-link {
    display: none;

}
::ng-deep ul.p-carousel-indicators.p-reset{
    display: none !important;
}