<div class="row m-5">
    <div class=" acar_activites col-md-6">
        <p-carousel [value]="agronomyImages" [numVisible]="1" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000" class="card card1">
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round text-center">
                    <div class="mt-5">
                        <img src="{{ product.url }}" [alt]="" class="shadow-2 col-lg-10 h-6" />
                    </div>
                    <div>
                        <h4>{{ product.name.split('_')[0] }}</h4>
                    </div>
                </div>
            </ng-template>
        </p-carousel>

    </div>

    <div class="col-md-6 ">
        <h1 class="aboutus_title text-center">AGRONOMY</h1>
        <p>
            <b class="text-success">Agronomy</b> is the science of handling crops and soil to enhance the yield both of
            quantity
            and quality of the desired crop utilising land, water and light effectively with
            minimum production inputs. The unique contribution of agronomy as a discipline is to
            provide the integration of physical, chemical and biological knowledge into useful
            production systems. Improved crop production is the successful application of
            ever-changing agricultural technology to enhance the productivity of crops.
        </p>
        <p>
            <b class="text-success">Agrometeorological</b> knowledge has immense practical utility in mitigating weather
            hazards on crop production. B type observatory has been installed and various weather
            parameters are observed and documented regularly.
        </p>

    </div>
</div>

<div class="row m-5">
    <div ngbAccordion [closeOthers]="true" class="col-md-8 p-0">
        <div ngbAccordionItem [collapsed]="false" class="my-3">
            <h2 ngbAccordionHeader>
                <button class="text-light fs-5 bg-success fw-bold" ngbAccordionButton>Vision</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        The Vision of the department is to impart futuristic high-tech agricultural education and
                        setting
                        global standards to
                        make agriculture graduates technologically superior and ethically strong, who inturn shall
                        improve
                        the quality of
                        life of farmers and transform agriculture as most economical and business arena.
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button class="text-light fs-5 bg-success fw-bold" ngbAccordionButton>Mission</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        Towards effective atttainment of the vision, the department strives to impart value based
                        agricultural education with
                        updated knowledge through credit based system.
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem class="my-3">
            <h2 ngbAccordionHeader>
                <button class="text-light fs-5 bg-success fw-bold" ngbAccordionButton>Principles</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        It deals with scientific facts in relation to environment in which crops are produced.
                        Knowledge of such basic principles aids in modifying the controllable environmental factors of
                        crop
                        production
                        for realising the production potentials of cultivars. Sound knowledge of agronomic principles
                        helps
                        the agronomists in
                        realising optimum yields at minimum cost without degrading the soil productivity.
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem class="my-3">
            <h2 ngbAccordionHeader>
                <button class="text-light fs-5 bg-success fw-bold" ngbAccordionButton>Facilities and
                    infrastructure</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <ul>
                            <li>ACAR experimental farm (wetland, irrigated upland)</li>
                            <li>Crop cafeteria</li>
                            <li>Meteorology observatory (Class B type)</li>
                            <li>Farm field lab (Agronomy)</li>
                            <li>Agronomy laboratory</li>
                            <li>Farmers training hall (75 seat capacity)</li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3  bg-success border-5 border-warning card my-4 py-5">
        <h1 class="text-center align-middle text-light">Programs Offered</h1>
        <button type="button" class="btn btn-light fs-5 my-5" (click)="showDialog()">View programs</button>
        <p-dialog header="PROGRAMS OFFERED" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body"
            [(visible)]="dialogVisible" [style]="{width: '75vw'}" [contentStyle]="{height: '400px'}">
            <table style="width:100%">
                <tr class="text-center">
                    <th>Year</th>
                    <th>Semester</th>
                    <th>Course Code</th>
                    <th>Course Tittle</th>
                    <th>Credit load</th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-center">I</th>
                    <td class="text-center">I</td>
                    <td>AGR 101</td>
                    <td>Fundamentals of Agronomy and Agricultural Heritage</td>
                    <td class="text-center">
                        1+1</td>
                </tr>
                <tr>
                    <td class="text-center">II</td>
                    <td>
                        AGR 102</td>
                    <td>
                        Introductory Agro-Meteorology and Climate Change</td>
                    <td class="text-center">
                        1+1</td>
                </tr>

                <tr>
                    <th rowspan="4" class="text-center">II</th>
                    <td class="text-center">III</td>
                    <td>
                        AGR 201</td>
                    <td>Crop Production Technology-I (Kharif crops)</td>
                    <td class="text-center">
                        1+1</td>
                </tr>
                <tr>
                    <td class="text-center">III</td>
                    <td>
                        AGR 202</td>
                    <td>Study Tour</td>
                    <td class="text-center">
                        0+1</td>
                </tr>
                <tr>
                    <td class="text-center">IV</td>
                    <td>
                        AGR 203</td>
                    <td>Crop Production Technology-II (Rabi crops )</td>
                    <td class="text-center">
                        1+1</td>
                </tr>
                <tr>
                    <td class="text-center">IV</td>
                    <td>
                        AGR 204</td>
                    <td>
                        Farming System and Sustainable Agriculture</td>
                    <td class="text-center">
                        1+1</td>
                </tr>

                <tr>
                    <th rowspan="5" class="text-center">III</th>
                    <td class="text-center">V</td>
                    <td>
                        AGR 301</td>
                    <td>Practical Crop Production- I (Kharif crops)</td>
                    <td class="text-center">
                        0+2</td>
                </tr>
                <tr>
                    <td class="text-center">V</td>
                    <td>
                        AGR 302</td>
                    <td>
                        Rainfed Agriculture and Watershed Management</td>
                    <td class="text-center">
                        1+1</td>
                </tr>
                <tr>
                    <td class="text-center">VI</td>
                    <td>
                        AGR 303</td>
                    <td>
                        Practical Crop Production -II (Rabi crops)</td>
                    <td class="text-center">
                        0+2</td>
                </tr>
                <tr>
                    <td class="text-center">VI</td>
                    <td>
                        AGR 304</td>
                    <td>Principles of Organic Farming</td>
                    <td class="text-center">
                        1+1</td>
                </tr>
                <tr>
                    <td class="text-center">VI</td>
                    <td>

                        OPTIONAL

                        AGR 351</td>
                    <td>Weed and Water Management</td>
                    <td class="text-center">
                        1+1</td>
                </tr>
                <tr>
                    <th class="text-center">IV</th>
                    <td class="text-center">VIII</td>
                    <td>EXP</td>
                    <td>Development of Integrated Farming System Model

                    </td>
                    <td class="text-center">
                        0+10</td>
                </tr>
            </table>
        </p-dialog>
    </div>
</div>

<div class="m-5">
    <h1 class="aboutus_title">Research and Development</h1>
    <table class="mb-5 ">
        <tr class="fs-5">
            <th>1</th>
            <th>Rice cultivation</th>
            <th>Faculties</th>
        </tr>
        <tr>
            <td></td>
            <td>Variety : ADT 53, White Ponni, Seeraga Samba</td>
            <td>Dr.AP.Nagaraju, Professor</td>
        </tr>
        <tr>
            <td></td>
            <td>Medium and long duration</td>
            <td>Dr. P.Lakshmanakumar, Asst. Pro</td>
        </tr>
        <tr>
            <td></td>
            <td>Area : 3.5 acres</td>
            <td>Mr.R.Rasakumar, Asst. Prof.</td>
        </tr>
        <tr>
            <td></td>
            <td>Season : Early samba and navarai</td>
            <td>Mrs.S.Keerthana, Asst. Prof.</td>
        </tr>
        <tr>
            <td></td>
            <td>Special features : Super fine rice with good quality</td>
            <td>Mrs.A.Snehaa, Asst. Prof.</td>
        </tr>
    </table>
    <p class="fw-bold fs-5">2.Documentation on weeds of ACAR</p>

    <div class="card card1">
        <h1 class="text-center aboutus_title pt-3">ACAR Weather Data</h1>

        <p-carousel [value]="agronomyStatsImages" [numVisible]="2" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round text-center">
                    <div class="mt-5">
                        <img src="{{ product.url }}" [alt]="" class="w-6 h-6 shadow-2 col-12"
                            style="object-fit: cover;" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{ product.name.split('_')[0] }}</h4>
                    </div>
                </div>
            </ng-template>
        </p-carousel>

    </div>
</div>

<div class="row m-5 fw-bold bg-secondary text-light">
    <div class="col-md-5">
        <p>
            “குடி நிறை வல்சி செம் சால் உழவர்
            நடை நவில் பெரும் பகடு புதவில் பூட்டி
            பிடி வாய் அன்ன மடி வாய் நாஞ்சில்
            உடுப்பு முக முழு கொழு மூழ்க ஊன்றி “

        </p>
        <p> பெரும்பாணாற்றுப்படை -200 </p>
    </div>
    <div class="col-md-7">
        <p>
            <span class="text-info">பொருள்:</span> பழக்கப்பட்ட காளைகளை நுகத்தில் பூட்டி உழுகிறான். அவனது நாஞ்சில்
            கலப்பையானது துதிக்கையோடு
            கூடிய பெண்யானையின் தலை போன்றது. உடுப்புமுகம் என்பது உடும்பு போன்ற முகம். அது கலப்பையின் நாவுப் பகுதி.
            அதில் இரும்பாலான கொழுவும் சேர்ந்திருக்கும்.
            நாவும் கொழுவும் மண்ணுக்குள் மூழ்கிப்போகும் அளவுக்கு உழவன் ஆழமாக உழுதான்.
        </p>
    </div>
</div>